
.active {
  font-weight: bold;
  color: white;
}
.caja{
	overflow: auto;
	height: 300px;
}
h3{
	font-size: 19px;
}
.mensajes {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 75px 181px 70px 165px;
  padding: 21px;
  background:#fff 
}
