
.active {
  font-weight: bold;
  color: white;
}
.caja{
	overflow: auto;
	height: 400px;
}
h3{
	font-size: 19px;
}
.mensajes {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 75px 181px 70px 165px;
  padding: 21px;
  background:#fff 
}
.icono{
  font-size: 53px!important;
  border: 1px solid;
  border-radius: 50px;
  width: 55px;
  padding: 0px;
}
.texto {
  padding: 12px 69px 12px 69px;
}
.mensajeenv{
	float: right;